*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.2%;
}

body{
    margin-top: 4rem;
    font-size: 20px;
    font-family: Helvetica;
}


.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select_canvas, .imagenPreview{
    width: 500px;
    height: 500px;
    border: 1px solid rgba(85, 85, 85, 0.212);

}

.edit_container{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px
}

.menu_opciones{
    margin-top: 2rem;
    padding: 1rem;
    width: 50%;
    border: 1px solid rgba(151, 149, 149, 0.445);
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: rgba(107, 107, 107, 0.329);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

